.column-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 7px solid black;
}

.column-nav-list {
  position: fixed;
  top: 70px;
  background-color: transparent;
  margin-left: 3%;
}

.column-chapters {
  display: block;
  font-size: 12px;
  color : rgb(46, 46, 46);
  height: 25px;
}


.column-nav {
  display: block;
  color: rgb(110, 110, 110);
  font-size: 17px;
  height: 24px;
}
.column-nav-on {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 17px;
  height: 24px;
}

.column-nav:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-size: auto;
  text-decoration: none;
}

.column-nav:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.column-nav:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
