@import url(https://fonts.googleapis.com/css?family=Noto+Sans);



.Nav-service {
  padding-top : 15px;
  background-color: rgb(238, 238, 238);
  height : 55px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.Nav-ul {
  list-style: none;
  display: inline-block;
  width: 100%;
}

.Nav-list-li {
  display: inline-block;
  text-align: center;
  width: 10%;
}

.Nav-Text{
  color: rgb(0, 0, 0);
  letter-spacing: .01em;
  font-size: 17px;
  font-style: normal;
  font-weight: 100;
  text-decoration: none;
}

.Nav-Text:hover {
  color: rgb(0, 78, 181);
  text-decoration: none;
}

.Nav-Text:active {
  color: rgb(0, 78, 181);
  text-decoration: none;
}

.Nav-Text:focus {
  color: rgb(0, 78, 181);
  text-decoration: none;
}
