@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*font-family: "Nanum Gothic";*/

@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
/*font-family: "KoPub Batang";*/

@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
/*font-family: "Nanum Pen Script";*/

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/*font-family: 'Noto Sans KR', sans-serif;*/

@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
/*font-family: 'Hanna', sans-serif;*/


.X-container {
    max-width: 100%;
    height: 600px;
    /*background-color: rgb(255, 0, 0);*/
    background-color: rgb(255, 255, 255);
    background-image: url(../../public/src/image/x-image2.png);
    background-repeat: no-repeat;
    background-size : cover;
    margin-bottom: 20px;
}

.X-text-container {
    padding-top : 370px;
    text-align: center;
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.X-text-title {
    font-family: "Nanum Gothic";
    font-size: 25px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.X-text-subtitle {
    padding-top: 5px;
    font-family: "Nanum Gothic";
    font-size: 30px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.X-text-desc {
    padding-top: 5px;
    font-family: "Nanum Gothic";
    font-size: 17px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}


.sick-container {
    max-width: 100%;
    height: 800px;
    /*background-color: rgb(255, 0, 0);*/
    background-color: rgb(255, 255, 255);
    background-image: url(../../public/src/image/sick_image.jpg);
    background-repeat: no-repeat;
    background-size : cover;
    margin-bottom: 20px;
}

.sick-text-container {
    margin-top : 180px;
    text-align: center;
    width: 35%;
    height: auto;
    float: left;
    margin-left: 180px;

}

.sick-text-title {
    font-family: "Nanum Gothic";
    font-size: 25px;
    font-weight: 700;
    color: rgb(38, 38, 38);
}

.sick-text-subtitle {
    padding-top: 5px;
    font-family: "Nanum Gothic";
    font-size: 30px;
    font-weight: 900;
    color: rgb(38, 38, 38);
    margin-bottom: 20px;
}

.sick-text-desc {
    padding-top: 5px;
    font-family: "Nanum Gothic";
    font-size: 17px;
    font-weight: 400;
    color: rgb(38, 38, 38);
}
