@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*font-family: "Nanum Gothic";*/

@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
/*font-family: "KoPub Batang";*/

@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
/*font-family: "Nanum Pen Script";*/

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/*font-family: 'Noto Sans KR', sans-serif;*/

@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
/*font-family: 'Hanna', sans-serif;*/

.looser-container {
    max-width: 100%;
    height: 600px;
    /*background-color: rgb(255, 0, 0);*/
    background-color: rgb(255, 255, 255);
    background-image: url(../../public/src/image/publishing/HB_1.png);
    background-repeat: no-repeat;
    background-size : cover;
    margin-bottom: 20px;
}

.looser-text-container {
    padding-top: 300px;
    width: 30%;
    float: right;
    height: auto;
}

.looser-text-title {
    font-family: "Nanum Gothic";
    font-size: 25px;
    font-weight: 700;
    color: rgb(244, 244, 244);
    position: relative;
}

.looser-text-subtitle {
    padding-top: 5px;
    font-family: "Nanum Gothic";
    font-size: 25px;
    font-weight: 900;
    color: rgb(244, 244, 244);
}

.looser-text-desc {
    padding-top: 5px;
    font-family: "Nanum Gothic";
    font-size: 18px;
    font-weight: 900;
    color: rgb(244, 244, 244);
}

.consulting-container {
    max-width: 100%;
    height: 600px;
    /*background-color: rgb(255, 0, 0);*/
    background-color: rgb(255, 255, 255);
    background-image: url(../../public/src/image/publishing/HB_2.png);
    background-repeat: no-repeat;
    background-size : cover;
    margin-bottom: 20px;
}

.consulting-text-container {
    padding-top: 100px;
    width: 30%;
    float: right;
    height: auto;
}

.consulting-text-title {
    font-family: "Nanum Gothic";
    font-size: 25px;
    font-weight: 700;
    color: rgb(244, 244, 244);
    position: relative;
}

.consulting-text-subtitle {
    padding-top: 5px;
    font-family: "Nanum Gothic";
    font-size: 25px;
    font-weight: 900;
    color: rgb(244, 244, 244);
}

.consulting-text-desc {
    padding-top: 5px;
    font-family: "Nanum Gothic";
    font-size: 18px;
    font-weight: 900;
    color: rgb(244, 244, 244);
}


.request-text {
    font-size: 15px;
    font-family: "Nanum Gothic";
    font-weight: bold;
}
