@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);

.door-company-title-container {
  width: 100%;
  height: 70px;
  padding-top: 20px;
  text-align: center;
  letter-spacing: .05em;
}

.door-company-title-text {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: bold;
}

.door-company-sign-container {
  width: 100%;
  height: 110px;
  padding-top: 10px;
  text-align: center;
}

.door-company-sign-text {
  font-size: 50px;
  font-family: 'Pinyon Script', cursive;
  font-weight: 100;
}

.door-list-container {
  display: block;
  width: 100%;
  height: 70px;
  text-align: center;
}


.door-list-text-first {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  color: rgb(103, 103, 103);
  font-size: 20px;
  font-weight: 100;
  letter-spacing: .05em;
}

.door-list-text-first:hover {
  color: rgb(185, 186, 182);
  text-decoration: none;
}

.door-list-text-first:active {
  color: rgb(185, 186, 182);
  text-decoration: none;
}

.door-list-text-first:focus {
  color: rgb(185, 186, 182);
  text-decoration: none;
}

.door-list-text {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  color: rgb(103, 103, 103);
  font-size: 20px;
  font-weight: 100;
  margin-left: 3.5em;
  letter-spacing: .05em;
}

.door-list-text:hover {
  color: rgb(185, 186, 182);
  text-decoration: none;
}

.door-list-text:active {
  color: rgb(185, 186, 182);
  text-decoration: none;
}

.door-list-text:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
