@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.test {
}
.door-company-title-container {
  width: 100%;
  height: 70px;
  padding-top: 10px;
  text-align: center;
  letter-spacing: .05em;
}

 p.door-company-text-desc {
   margin-top: 5px;
   text-align: center;
   font-size: 15px;
   font-family: 'Montserrat', sans-serif;
   font-weight: normal;
   margin-bottom : 30px;
   letter-spacing: .05em;
   width: 730px;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

.door-company-title-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.door-company-sign-container {
  margin-top: 15px;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 7px;
  text-align: center;
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
  transform: rotate(-3deg);
}

.door-company-sign-text {
  font-size: 50px;
  font-family: 'Pinyon Script', cursive;
  font-weight: 100;
}

.door-list-container {
  display: block;
  width: 100%;
  height: 70px;
  text-align: center;
  margin-top: 25px;
}

.door-list-ul {
  list-style: none;
}

.door-list-li {
  display: inline-block;
  text-align: center;
  width: 15%;
}

.door-list-text-first {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: rgb(103, 103, 103);
  font-size: 17px;
  font-weight: 100;
  letter-spacing: .05em;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(103, 103, 103);
}

.door-list-text-first:hover {
  color: rgb(103, 103, 103);
  text-decoration: none;
}

.door-list-text-first:active {
  color: rgb(185, 186, 182);
  text-decoration: none;
}

.door-list-text-first:focus {
  color: rgb(185, 186, 182);
  text-decoration: none;
}

.door-list-text {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  color: rgb(103, 103, 103);
  font-size: 20px;
  font-weight: 100;
  letter-spacing: .05em;
}

.door-list-text:hover {
  color: rgb(185, 186, 182);
  text-decoration: none;
}

.door-list-text:active {
  color: rgb(185, 186, 182);
  text-decoration: none;
}

.door-list-text:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
