.slider-container {
  position: relative;
  width: 730px;
  height: 410px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 69, 0);
  overflow: hidden;
}


.slider-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider-content:hover {
  cursor:pointer;
}
