.slider-container {
  margin-top: 5px;
  position: relative;
  width: 640px;
  height: 410px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  overflow: hidden;
}

.slick-slider img{
  object-position: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.slider-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider-content:hover {
  cursor:pointer;
}
