.slider-container {
  margin-top: 5px;
  position: relative;
  width: 640px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  overflow: hidden;
}

.slick-slider img{
  object-position: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.slider-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider-content:hover {
  cursor:pointer;
}

@media screen and (max-width: 480px) {
  .slider-container {
    margin-top: 10%;
    position: relative;
    width: 100vw;
    height: 50vh;
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
    overflow: hidden;
  }

  .slick-slider img{
    width: 100%;
  }

  .slider-content {
    display: block;
  }

  .slider-content:hover {
    cursor:pointer;
  }

}
